/* Move the URL bar to be floating*/
#nav-bar {
  position: absolute !important;
  display: block;
  width: 100%;
  top: 50px;
}

/* Move the URL out of sight + out of mind when not visible
 * When it is visible, apply a slight transparency
 */
#urlbar:is([focused], [open]) {
  opacity: 90%;
}
#urlbar:not([focused], [open]) {
  top: -100px !important;
}

/* Make the buttons in the toolbar much closer together */
toolbar .toolbarbutton-1 {
  padding: 0px 0px !important;
}
toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  padding: 2px !important;
}

/* Use 14pt font */
.tabbrowser-tab,
.tabs-bottom {
  font-size: 14pt !important;
}
#urlbar {
  font-size: 14pt !important;
}
#status-bar {
  font-size: 14pt !important;
}

/* Adjust tab corner shape, optionally remove space below tabs */
#tabbrowser-tabs {
  --user-tab-rounding: 8px;
}
.tab-background {
  border-radius: var(--user-tab-rounding) var(--user-tab-rounding) 0px 0px !important; /* Connected */
  margin-block: 1px 0 !important; /* Connected */
}

/* [Connected Tabs] Set a max height based on min-height plus margin-block: 1px 0 */
#TabsToolbar,
#TabsToolbar > hbox,
#TabsToolbar-customization-target,
#tabbrowser-arrowscrollbox {
  max-height: calc(var(--tab-min-height) + 1px) !important;
}

/* Inactive tabs: Shadow style */
.tabbrowser-tab:not([selected="true"]):not([multiselected="true"])
  .tab-background {
  background-color: color-mix(in srgb, currentColor 8%, transparent);
}

/* Audio icon */
#TabsToolbar {
  --user-mute-button-height: 16px; /* default size is 12px, site icon is 16px */
}
/* Move the mute/unmute button to the right and enlarge it */
.tab-icon-overlay:not([pinned], [sharing], [crashed]):is(
    [soundplaying],
    [muted]
  ) {
  width: var(--user-mute-button-height) !important;
  height: var(--user-mute-button-height) !important;
  margin-left: calc(
    var(--user-mute-button-height) / 2 + 6px
  ) !important; /* pushes icon to the right */
  margin-right: 2px !important; /* closes up some space before the text */
  padding: 0 !important; /* allows icon to expand to full size */
}
/* Move the site icon to the left a bit and adjust position */
.tab-icon-stack:not([pinned], [sharing], [crashed]):is([soundplaying], [muted])
  > :not(.tab-icon-overlay) {
  margin-left: -8px !important; /* pushes icon to the left */
  margin-top: calc(
    (var(--user-mute-button-height) - 16px) / 2
  ) !important; /* keep site icon reasonably positioned */
}
.tabbrowser-tab:not(:hover)
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is(
    [soundplaying],
    [muted]
  ),
.tabbrowser-tab:hover
  .tab-icon-stack:not([pinned], [sharing], [crashed]):is(
    [soundplaying],
    [muted]
  )
  > :not(.tab-icon-overlay),
:root[uidensity="compact"]
  .tab-icon-stack:not([pinned], [sharing], [crashed]):is(
    [soundplaying],
    [muted]
  )
  > :not(.tab-icon-overlay) {
  opacity: 1 !important; /* overrides full transparency with full opacity */
}
