snippet enum "Enumerate list"
\begin{enumerate}
	\ii ${1:<+First item+>}
\end{enumerate}
$0
endsnippet

snippet enuma "Enumerate list with argument"
\begin{enumerate}[${1:<+Argument+>}]
	\ii ${2:<+First item+>}
\end{enumerate}
$0
endsnippet

snippet ii "Item list"
\begin{itemize}
	\ii ${1:<+First item+>}
\end{itemize}
$0
endsnippet

snippet desc "Description list"
\begin{description}
	\ii[${1:<+Description+>}] ${2:<+First item+>}
\end{description}
$0
endsnippet
