snippet draft "Use draftwatermark package" b
\usepackage{draftwatermark}
\SetWatermarkAngle{32}
\SetWatermarkLightness{0.95}
\SetWatermarkFontSize{32pt}
\SetWatermarkScale{2.718}
\SetWatermarkText{SAMPLE}
endsnippet
