**/*.pyc
asy/history
aws-hmmt
aws/*
driveignore
elinks/*
fish/*
fish/fish_variables
gm_scripts/*
gnupg/*
mutt/abook/addressbook
mutt/abook/addressbook~
mutt/mbsyncrc
mutt/muttrc.?
mutt/templates/*
py3status/py3status.*.conf
qutebrowser/autoconfig.yml
qutebrowser/bookmarks/*
qutebrowser/qsettings/
qutebrowser/quickmarks
sage/*
ssh/*
vim/spell/*
!fish/config.fish
!fish/completions
!fish/completions/*.fish
!fish/fish_plugins
!elinks/elinks.conf
