elinks/*
!elinks/elinks.conf
gm_scripts/*
sage/*
ssh/*
vim/spell/*
**/*.pyc
aws-hmmt
aws/*
qutebrowser/bookmarks/*
qutebrowser/quickmarks
qutebrowser/qsettings/
qutebrowser/autoconfig.yml
asy/history
fish/*
!fish/config.fish
!fish/fishfile
driveignore
fish/fish_variables
