[submodule "i3/i3-workspace-names-daemon"]
	path = i3/i3-workspace-names-daemon
	url = https://github.com/cboddy/i3-workspace-names-daemon
[submodule "i3-workspace-names-daemon"]
	path = i3/3kon
	url = https://github.com/cboddy/i3-workspace-names-daemon
[submodule "gm-scripts/aops-enhanced"]
	path = qutebrowser/greasemonkey/aops-enhanced
	url = https://github.com/epiccakeking/aops-enhanced
[submodule "gh-extensions/gh-done"]
	path = gh-extensions/gh-done
	url = https://github.com/vEnhance/gh-done
[submodule "gh-extensions/gh-dash"]
	path = gh-extensions/gh-dash
	url = https://github.com/dlvhdr/gh-dash
[submodule "gh-extensions/gh-markdown-preview"]
	path = gh-extensions/gh-markdown-preview
	url = https://github.com/yusukebe/gh-markdown-preview
