[Unit]
Description=Run Anki at 4am daily
Requires=anki-morning.service

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target