conky.config = {
   alignment = 'top_right',
   background = false,
   border_width = 10,
   cpu_avg_samples = 1,
   default_color = 'white',
   default_outline_color = 'white',
   default_shade_color = 'white',
   double_buffer = true,
   draw_borders = false,
   draw_graph_borders = true,
   draw_outline = false,
   draw_shades = false,
   use_xft = true,
   font = 'Exo 2:size=9:semibold',
   gap_x = 15,
   gap_y = 15,
   imlib_cache_size = 10,
   minimum_height = 2000,
   minimum_width = 350,
   maximum_width = 350,
   net_avg_samples = 2,
   no_buffers = true,
   out_to_console = false,
   out_to_stderr = false,
   extra_newline = false,
   own_window = true,
   own_window_class = 'Conky',
   own_window_colour = '140418',
   own_window_type = 'override',
   own_window_transparent = false,
   own_window_argb_visual = true,
   own_window_argb_value = 200,
   own_window_hints = 'undecorated,skip_taskbar,skip_pager,below',
   stippled_borders = 0,
   short_units = false,
   text_buffer_size = 512,
   update_interval = 1,
   uppercase = false,
   use_spacer = 'none',
   show_graph_scale = true,
   show_graph_range = false,
   xinerama_head = 2,
   lua_load = "~/.config/conky/clock0.lua",
   lua_draw_hook_pre = "conky_clock_rings",
}
conky.text = [[
# Colors
#
# purple == D14EE3
# purple 2 == D77FE3
# purple 3 == B03BC3
# blue == 77d3f4
# blue 2 == 33b5e5
# blue 3 == 0099cc
# green == 75b704
#
### CALENDAR
${color 75B704}${voffset -9}${offset 10}${font Exo 2:size=14}${nodename} [${execi 180 checkupdates | wc -l}]
${voffset -5}${offset 10}${cpubar cpu6 0, 240}${voffset 2}
${color dedede}${offset 90}${font DejaVu Sans Mono:size=14}${color3}${alignc} ${exec date +%B\ %Y | sed 's/^.\| [a-z]/\U&/g'}
${color 0099cc}${execpi 60 JOUR=`date +%e`; cal | sed '1d' | sed 's/^/ /g' | sed /" $JOUR "/s/" $JOUR "/" "'${color1}'"$JOUR"'${color1}'" "/}
${voffset -35}${offset 250}${font neuropol:size=14}${time %a %H:%M}${font}
### TASK WARRIOR
${font Exo 2:semibold}${color D14EE3}[ Tasks ] ${voffset 2}${hr 2}
${color 77d3f4}${font DejaVu Sans Mono:size=12}${execi 300 task rc.verbose=nothing rc.report.min.columns:due.relative,description min rc.report.min.sort:urgency- status:pending | grep . | head -n 1}
${color 33b5e5}${font DejaVu Sans Mono:size=12}${execi 300 task rc.verbose=nothing rc.report.min.columns:due.relative,description min rc.report.min.sort:urgency- status:pending | grep . | tail -n +2 | tail -n 1}
${color 0099cc}${font DejaVu Sans Mono:size=12}${execi 300 task rc.verbose=nothing rc.report.min.columns:due.relative,description min rc.report.min.sort:urgency- status:pending | grep . | tail -n +3}
### CALENDAR
${font Exo 2:semibold}${color D14EE3}[ Calendar ] ${voffset 2}${hr 2}
${color d14ee3}${font DejaVu Sans Mono:size=12}${execi 30 cat /tmp/agenda.txt | sed "s/\ -\ /~/" | tr '\t' ' ' | head -n 1 }
${color d77fe3}${font DejaVu Sans Mono:size=12}${execi 30 cat /tmp/agenda.txt | sed "s/\ -\ /~/" | tr '\t' ' ' | tail -n +2 | tail -n 1 }
${color b03bc3}${font DejaVu Sans Mono:size=12}${execi 30 cat /tmp/agenda.txt | sed "s/\ -\ /~/" | tr '\t' ' ' | tail -n +3 }

### CPU
${font Exo 2:semibold}${color D14EE3}[ CPU ] ${voffset 2}${hr 2}${voffset 0}$color
${voffset -35}${alignr}${color D77FE3}${font Exo 2:light:size=16}${freq_g}GHz@${acpitemp}${font Exo 2:semibold:size=13}°C
${voffset 10}${color 75b704}${font Exo 2:light:size=20} ${cpu cpu0}% ${voffset -10}${alignr}${cpugraph 32,215} ${voffset 2}${alignr}
${alignr}${voffset -23}${color 75b704}${font DejaVu Sans:light:size=15}Up: ${uptime}     
### TOP CPU PROCESSES
${voffset 20}${font Exo 2:size=12}${color b4ebff}PROCESS (${processes}) ${goto 157}${color D14EE3}CPU%${color b4ebff}${goto 220}MEM${alignr}PID
${voffset -10}${color 777777}${stippled_hr}${voffset -2}
${color 77d3f4}${top name 1} ${goto 150}${top cpu 1}%${goto 215}${top mem_res 1}${alignr}${top_mem pid 1}
${color 33b5e5}${top name 2} ${goto 150}${top cpu 2}%${goto 215}${top mem_res 2}${alignr}${top_mem pid 2}
${color 0099cc}${top name 3} ${goto 150}${top cpu 3}%${goto 215}${top mem_res 3}${alignr}${top_mem pid 3}
### TOP MEM PROCESSES
${voffset 15}${font Exo 2:semibold}${color D14EE3}[ MEMORY ] ${voffset 2}${hr 2}${voffset 10}$color
${goto 100}${color DAC0DE}${voffset -8}${font Exo 2:bold:size=20}${mem}${color B03BC3}${goto 230}${voffset 4}${memgauge 19,40} ${color DAC0DE}${voffset -4}${font Exo 2:bold:size=14}$memperc%
${goto 111}${color D77FE3}${font Exo 2:bold:size=14} / ${memmax}$font${alignr}${membar 12,105}
${voffset 10}${color DA9BE3}PROCESS (${processes}) ${goto 157}${color D14EE3}MEM${color DA9BE3}${goto 220}MEM%${alignr}PID
${voffset -10}${color 777777}${stippled_hr}${voffset -2}
${color D77FE3}${top_mem name 1} ${goto 150}${top_mem mem_res 1}${goto 220}${top_mem mem 1}%${alignr}${top_mem pid 1}
${color D14EE3}${top_mem name 2} ${goto 150}${top_mem mem_res 2}${goto 220}${top_mem mem 2}%${alignr}${top_mem pid 2}
${color B03BC3}${top_mem name 3} ${goto 150}${top_mem mem_res 3}${goto 220}${top_mem mem 3}%${alignr}${top_mem pid 3}
### ETHERNET
${voffset 8}${font Exo 2:semibold}${color D14EE3}[ ETHERNET ]${voffset 3} ${hr 2}  $color
${voffset 2}${font Exo 2:bold:size=10}Up: ${voffset -6}${goto 70}${color 77d3f4}${font Exo 2:size=15}${upspeed eno1}${font Exo 2:bold:size=10}/s $color ${goto 195}Total:  ${alignr}${voffset -6}${font Exo 2:size=15}${color 77d3f4}${totalup eno1}${color}${font}
${voffset 2}${font Exo 2:bold:size=10}Down: ${voffset -6}${goto 70}${color 77d3f4}${font Exo 2:size=15}${downspeed eno1}${font Exo 2:bold:size=10}/s $color ${goto 195}Total:  ${alignr}${voffset -6}${font Exo 2:size=15}${color 77d3f4}${totaldown eno1}${color}${font}
### DISK
${voffset 15}${font Exo 2:semibold}${color D14EE3}[ DISK ] (free) ${voffset 2}${hr 2}$color${font}
${voffset 6}/ ${goto 140}R: ${goto 160}${color 33b5e5}${diskio_read /dev/mapper/AntergosVG-AntergosRoot}/s $color${alignr}${goto 240}W: ${color 33b5e5}${diskio_write /dev/mapper/AntergosVG-AntergosRoot}/s$color
${voffset 2}${color 77d3f4}${fs_free /} Free (${color 33b5e5}${fs_free_perc /}%${color 77d3f4})$color   $alignr${color 33b5e5}${voffset 2}${fs_bar 10,150 /}$color
${voffset 2}/home ${goto 140}R: ${goto 160}${color 33b5e5}${diskio_read /dev/mapper/samsung--ssd--vg-data}/s $color${alignr}${goto 240}W: ${color 33b5e5}${diskio_write /dev/mapper/samsung--ssd--vg-data}/s$color
${voffset 2}${color 77d3f4}${fs_free /home} Free (${color 33b5e5}${fs_free_perc /home}%${color 77d3f4})$color   $alignr${color 33b5e5}${voffset 2}${fs_bar 10,150 /home}$color
### VERSION
${color 777777}${stippled_hr}
${font Exo 2:light:size=10}${conky_version} (${conky_build_date})
]]
