snippet euxo "New -euxo pipefail script" b
#!/usr/bin/env bash
set -euxo pipefail

$0
endsnippet
snippet euo "New -euo pipefail script" b
#!/usr/bin/env bash
set -euo pipefail

$0
endsnippet

snippet arr "Read an output into an array" b
readarray -t ${1:VAR_NAME} < <(${2:CMD})
${3:CMD} "$\{$1[@]\}"
$0
endsnippet

snippet forin "Loop over an array"
for ${1:needle} in "$\{${2:HAYSTACK}[@]\}" ; do
	$0
done
endsnippet
