fish_variables

completions/fisher.fish
completions/fzf_configure_bindings.fish
completions/nvm.fish
completions/spark.fish
conf.d/done.fish
conf.d/fzf.fish
conf.d/nvm.fish
conf.d/z.fish
functions/fisher.fish
functions/fzf_configure_bindings.fish
functions/_fzf_configure_bindings_help.fish
functions/_fzf_extract_var_info.fish
functions/_fzf_preview_changed_file.fish
functions/_fzf_preview_file.fish
functions/_fzf_report_diff_type.fish
functions/_fzf_report_file_type.fish
functions/_fzf_search_directory.fish
functions/_fzf_search_git_log.fish
functions/_fzf_search_git_status.fish
functions/_fzf_search_history.fish
functions/_fzf_search_processes.fish
functions/_fzf_search_variables.fish
functions/_fzf_wrapper.fish
functions/nvm.fish
functions/_nvm_index_update.fish
functions/_nvm_list.fish
functions/_nvm_version_activate.fish
functions/_nvm_version_deactivate.fish
functions/spark.fish
functions/__z_add.fish
functions/__z_clean.fish
functions/__z_complete.fish
functions/__z.fish
