name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  pyflakes:
    runs-on: ubuntu-latest
    name: "PyFlakes"
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pyflakes
    - name: Run PyFlakes
      run: |
        pyflakes $(git ls-files '*.py' | grep -v "qutebrowser/" | grep -v "ranger/")

  yapf:
    runs-on: ubuntu-latest
    name: "YAPF"
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade yapf
    - name: Run YAPF
      run: |
        yapf -d --style yapf/style $(git ls-files '*.py' | grep -v "qutebrowser/" | grep -v "ranger/")

  spellcheck:
    runs-on: ubuntu-latest
    name: "Spellcheck"
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade codespell
    - name: Run spellcheck
      run: |
        codespell $(git ls-files '*.py')
