name: CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  prek:
    runs-on: ubuntu-latest
    name: "prek"
    steps:
      - uses: actions/checkout@v6
      - uses: j178/prek-action@v1
